<!DOCTYPE html>
<html lang="zh-tw">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fake Client</title>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/2.3.0/socket.io.js"></script>
  <style type="text/css">
    #eventJson {
      float: right;
      width: 600px;
      height: 100px;
      border: black solid 1px;
      word-break: break-all;
    }
  </style>
</head>

<body>
  <div id="eventJson"></div>
  <button id="join0">Join Basic Room</button>
  <button id="join1">Join Medium Room</button>
  <button id="join2">Join Advanced Room</button> </br>
  <button id="disconnect">Disconnect</button>
  <button id="leave">Leave Room</button> </br>
  <button id="clear">Clear Messages</button> </br>
  <table>
    <tr>
      <td>player id:</td>
      <td><span id="playerId"></span></td>
    </tr>
    <tr>
      <td>room id:</td>
      <td><span id="roomId"></span></td>
    </tr>
    <tr>
      <td>Players in the room: </td>
      <td>
        <div id="players"></div>
      </td>
    </tr>
  </table>
  <div class="event">
    <button id="Info" disabled="true">Info event</button> &nbsp;
    <button id="Fire" disabled="true">Fire event</button> &nbsp;
    <button id="Hit" disabled="true">Hit event</button> &nbsp;
    <button id="Skill" disabled="true">Skill event</button> &nbsp;
    <button id="SkillHit" disabled="true">SkillHit event</button> &nbsp;
    <button id="Summon" disabled="true">Summon</button> &nbsp;
    <button id="Equip" disabled="true">Equip event</button> &nbsp;
    <button id="Balances" disabled="true">Balances event</button> &nbsp;
    <button id="Gamelog" disabled="true">Gamelog event</button> &nbsp;
    <button id="GameRound" disabled="true">Game round</button> &nbsp;
    <button id="GameSkill" disabled="true">Game skill</button> &nbsp;
    <br><br>
  </div>
  Recived Message:
  <pre id="info"></pre>
  <script>
    let roomLevel = 0;
    const betRate = {
      "0": 1, "1": 1, "2": 2, "3": 3, "4": 4, "5": 5, "6": 6, "7": 7
    };

    const eventMessages = {
      "Fire": {
        bulletId: 6,
        bulletX: 1920,
        bulletY: 1080,
        lock: "15-1555426000-1-1-4"
      },
      "Hit": {
        bulletId: 7,
        bulletX: 1920,
        bulletY: 1080,
        fishes: [
          {
            fishId: 101,
            fishSN: "157-1555426000-1-8"
          }
        ]
      },
      "Skill": {
        bet: 2,
        skillId: 10006
      },
      "SkillHit": {
        skillId: 10006,
        bulletId: 6,
        bet: 300,
        "fishes": [
          {
            "fishId": 402,
            "fishSN": "15-1555426000-1-1"
          }
        ]
      },
      "Summon": {
        skillId: 10006,
        bulletId: 6,
        bet: 30,
        "fishes": [
          {
            "fishId": 402,
            "fishSN": "15-1555426000-1-1"
          }
        ]
      },
      "Gamelog": {
        page: 1,
        pageSize: 7
      }
    };
    var operatorId = 'ganalogics';
    var gameId = 'tokyokombat';
    var playerId = `ganalogics-${getPlayerId()}`;
    var playerPosition = 0;
    var joinedRoomId = '';
    document.getElementById("playerId").innerText = playerId;

    const roomIdDiv = document.getElementById("roomId");
    const playersDiv = document.getElementById("players");
    const infoPre = document.getElementById("info");
    const eventJson = document.getElementById("eventJson");

    const userids = [];

    let url = "<%= url %>";
    let socketPort = "<%= socketPort %>";
    let jwt = "<%= jwt %>";
    let fullUrl = url + ':' + socketPort + '/' + gameId;

    console.info(fullUrl);
    let socket = io(fullUrl, { query: `session=${jwt}` });

    // Socket Event
    socket.on('connect', () => {
      document.getElementById("Info").disabled = false;
      console.log(`socket id : ${socket.id}`);
    });

    socket.on('error', error => {
      infoPre.innerHTML += JSON.stringify(error) + "</br>";
    });

    socket.on('disconnect', () => {
      socket.disconnect();
      document.getElementById("Info").disabled = true;
      infoPre.innerHTML += 'socket disconnected' + "</br>";
      roomIdDiv.textContent = '';
      playersDiv.textContent = '';
      setJoinRoomButtonDisable(false);
      setFeatureButtonDisable(true);
    });

    socket.on('leave', data => {
      infoPre.innerHTML += `player ${data.playerId} is leaved` + "</br>";
      if (data.playerId == playerId) {
        roomIdDiv.textContent = '';
        playersDiv.textContent = '';
        setJoinRoomButtonDisable(false);
        setFeatureButtonDisable(true);
      }
    });

    socket.on('logout', data => {
      infoPre.innerHTML += data;
      socket.disconnect();
      infoPre.innerHTML += 'Received event logout, socket disconnected.';
      roomIdDiv.textContent = '';
      playersDiv.textContent = '';
      setJoinRoomButtonDisable(false);
      setFeatureButtonDisable(true);
    });

    socket.on('info', data => {
      infoPre.innerHTML += "info: " + JSON.stringify(data) + "</br>";
    });

    socket.on('announce', data => {
      infoPre.innerHTML += `announce: ${JSON.stringify(data)} </br>`;
    });

    socket.on('appear', data => {
      infoPre.innerHTML += "appear: " + JSON.stringify(data) + "</br>";
    });
    socket.on('reward', data => {
      infoPre.innerHTML += "reward: " + JSON.stringify(data) + "</br>";
    });
    socket.on('fire', data => {
      infoPre.innerHTML += "fire: " + JSON.stringify(data) + "</br>";
    });
    socket.on('skill', data => {
      infoPre.innerHTML += "skill: " + JSON.stringify(data) + "</br>";
    })
    socket.on('balances', data => {
      infoPre.innerHTML += "balances: " + JSON.stringify(data) + "</br>";
    })

    Array.from(document.querySelectorAll(".event > button")).forEach(it => {
      it.addEventListener("mouseover", event => {
        let obj = event.target;
        let objId = event.target.id;
        eventJson.innerText = JSON.stringify(eventMessages[objId]);
      });
    });

    socket.on('join', data => {
      playerPosition = getPlayerPosition(data.players, data.playerId);
      infoPre.innerHTML += "join: " + JSON.stringify(data) + "</br>";
      roomIdDiv.textContent = data.roomId;
      joinedRoomId = data.roomId;
      playersDiv.textContent = JSON.stringify(data.players);
      socket.emit('sync');
    });

    socket.on('countdown', data => {
      infoPre.innerHTML += `countdown: ${JSON.stringify(data)} </br>`;
    });

    socket.on('scene', data => {
      infoPre.innerHTML += `scene: ${JSON.stringify(data)} </br>`;
    });

    socket.on('sync', data => {
      infoPre.innerHTML += `sync: ${JSON.stringify(data)} </br>`;
    });

    socket.on('equip', data => {
      infoPre.innerHTML += `equip: ${JSON.stringify(data)} </br>`;
    });

    socket.on('turrets', data => {
      infoPre.innerHTML += `turrets: ${JSON.stringify(data)} </br>`;
    });

    socket.on('gamelog', data => {
      infoPre.innerHTML += `game log records : ${data.data.length} datas <br>`;
      infoPre.innerHTML += `gamelog : ${JSON.stringify(data.data[0])} <br>`;
    });

    socket.on('system_error', data => {
      alert(`${data.code} : ${data.message}`);
    })

    // DOM Event
    document.getElementById("Info").addEventListener('click', event => {
      socket.emit("info");
    });

    document.getElementById("Fire").addEventListener('click', event => {
      let fireData = eventMessages[event.target.id];
      let bullet = Math.floor(Math.random() * 7) + 1;
      fireData.bet = betRate[bullet] * (roomLevel + 1);
      socket.emit("fire", eventMessages[event.target.id]);
    });
    document.getElementById("Hit").addEventListener('click', event => {
      let hitData = eventMessages[event.target.id];
      let bullet = Math.floor(Math.random() * 7) + 1;
      hitData.bet = betRate[bullet] * (roomLevel + 1);
      socket.emit("hit", hitData);
    });

    document.getElementById("Skill").addEventListener('click', event => {
      socket.emit('skill', eventMessages[event.target.id]);
    });
    document.getElementById("SkillHit").addEventListener('click', event => {
      socket.emit('skillhit', eventMessages[event.target.id]);
    });
    document.getElementById("Summon").addEventListener('click', event => {
      socket.emit('skillhit', eventMessages[event.target.id]);
    });
    document.getElementById("Equip").addEventListener('click', event => {
      let data = {
        position: playerPosition,
        bulletId: Math.floor(Math.random() * 7)
      }
      socket.emit('equip', data);
    });

    document.getElementById("Balances").addEventListener('click', event => {
      socket.emit('balances', "");
    });

    document.getElementById("Gamelog").addEventListener('click', event => {
      socket.emit('gamelog', eventMessages[event.target.id]);
    });

    document.getElementById("GameRound").addEventListener('click', event => {
      socket.emit('gamelog', {
        "roundId" : "1586425099682",
        "pageSize" : 7,
        "page" : 1
      });
    });

    document.getElementById("GameSkill").addEventListener('click', event => {
      socket.emit('gamelog', {
        "roundId" : "ganalogics-olson1586922509204",
        "skillId" : "10001",
        "timestamp" : 1585036503343,
        "pageSize" : 7,
        "page" : 1
      });
    });

    document.getElementById("join0").addEventListener('click', () => {
      setJoinRoomButtonDisable(true);
      setFeatureButtonDisable(false);
      reconnect(socket);
      roomLevel = 0;
      socket.emit('join', { roomLevel: 0 });
    });
    document.getElementById("join1").addEventListener('click', () => {
      setJoinRoomButtonDisable(true);
      setFeatureButtonDisable(false);
      reconnect(socket);
      roomLevel = 1;
      socket.emit('join', { roomLevel: 1 });
    });
    document.getElementById("join2").addEventListener('click', () => {
      setJoinRoomButtonDisable(true);
      setFeatureButtonDisable(false);
      reconnect(socket);
      roomLevel = 2;
      socket.emit('join', { roomLevel: 2 });
    });

    document.getElementById("disconnect").addEventListener('click', () => {
      socket.disconnect();
      setJoinRoomButtonDisable(false);
      setFeatureButtonDisable(true);
    });

    document.getElementById("leave").addEventListener('click', () => {
      socket.emit('leave', "leave");
      setJoinRoomButtonDisable(false);
      setFeatureButtonDisable(true);
    });

    document.getElementById("clear").addEventListener('click', () => {
      infoPre.innerHTML = '';
    });


    // Util Function
    function shuffle(tArray) {
      for (let i = tArray.length - 1; i > 0; i--) {
        let j = Math.floor(Math.random() * (i + 1));
        [tArray[i], tArray[j]] = [tArray[j], tArray[i]];
      }
    }

    function getPlayerId() {
      var url = window.location.href;
      var urls = url.split('/');
      return urls[urls.length - 1];
    }

    function getPlayerPosition(players, player) {
      for (let i = 0; i < Object.keys(players).length; i++) {
        if (players[i] == player) {
          return i;
        }
      }
      return null;
    }

    function setJoinRoomButtonDisable(isDisable) {
      document.getElementById("join0").disabled = isDisable;
      document.getElementById("join1").disabled = isDisable;
      document.getElementById("join2").disabled = isDisable;
    }

    function setFeatureButtonDisable(isDisable) {
      document.getElementById("Fire").disabled = isDisable;
      document.getElementById("Hit").disabled = isDisable;
      document.getElementById("Skill").disabled = isDisable;
      document.getElementById("SkillHit").disabled = isDisable;
      document.getElementById("Summon").disabled = isDisable;
      document.getElementById("Equip").disabled = isDisable;
      document.getElementById("Balances").disabled = isDisable;
      document.getElementById("Gamelog").disabled = isDisable;
      document.getElementById("GameRound").disabled = isDisable;
      document.getElementById("GameSkill").disabled = isDisable;
    }

    function reconnect(socket) {
      if (socket.disconnected) {
        socket.connect();
      }
    }
  </script>
</body>

</html>